alabaster==0.7.12
appnope==0.1.0
asn1crypto==0.24.0
astroid==2.2.5
Babel==2.8.0
backcall==0.1.0
backports.csv==1.0.7
beautifulsoup4==4.8.1
beautifultable==0.8.0
biopython==1.76
bleach==3.1.0
bs4==0.0.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
cssselect2==0.2.2
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
docopt==0.6.2
docutils==0.16
easydict==1.9
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.1
future==0.16.0
html5lib==1.0.1
idna==2.6
imagesize==1.2.0
imgkit==1.0.2
importlib-metadata==1.6.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
keyring==21.2.1
kiwisolver==1.0.1
lazy-object-proxy==0.0.0
lxml==4.4.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mysql-connector==2.2.9
mysql-connector-python==8.0.15
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.14.4
oauthlib==3.0.1
odfpy==1.4.0
openpyxl==2.4.11
packaging==20.3
pandas==0.25.3
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.1.0
pipreqs==0.4.9
pkginfo==1.5.0.1
pockets==0.9.1
presto==0.5.13
presto-python-client==0.7.0
prettytable==0.7.2
prometheus-client==0.5.0
prompt-toolkit==2.0.8
protobuf==3.7.0
psycopg2-binary==2.8.3
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.6.1
PyHive==0.5.2
pykerberos==1.2.1
pylint==2.3.1
pyparsing==2.3.1
Pyphen==0.9.5
PySocks==1.7.0
python-dateutil==2.7.3
python-dotenv==0.10.3
pytz==2018.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
readme-renderer==26.0
records==0.5.3
requests==2.23.0
requests-kerberos==0.12.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
scipy==1.4.1
searchtweets-labs==1.0.0
Send2Trash==1.5.0
six==1.12.0
snowballstemmer==2.0.0
soupsieve==1.9.4
Sphinx==3.0.3
sphinx-bootstrap-theme==0.7.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.1
tablib==0.13.0
terminado==0.8.1
testpath==0.4.2
tinycss2==1.0.2
tornado==5.1.1
tqdm==4.46.0
traitlets==4.3.2
tweepy==3.8.0
tweet-parser==1.13.2
twine==3.1.1
twitter==1.18.0
typed-ast==1.4.0
UNKNOWN==0.0.0
urllib3==1.22
virtualenv==16.7.5
wcwidth==0.1.7
WeasyPrint==50
webencodings==0.5.1
Werkzeug==0.15.6
widgetsnbextension==3.4.2
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
yarg==0.1.9
zipp==3.1.0
