[credentials]
username =  <user_name>
password = <password>
bearer_token = <bearer_token>


[api_info]
endpoint = endpoint
max_pages = 10

[gnip_search_rules]
from_date = 2017-06-01
to_date = 2017-09-01
max_results = 500
pt_rule = beyonce has:geo


[search_params]
max_tweets = 500

[output_params]
save_file = True
output_file_path = ./save_path/
output_file_prefix = beyonce
results_per_file = 10000000
