[credentials]
account_name = some_person
username = agonzales@nowhere.py
password = notapassword


[api_info]
search_api = fullarchive
endpoint_label = ogformat.json

[gnip_search_rules]
from_date = 2017-01-01
to_date = 2017-02-01
max_results = 500
pt_rule = beyonce has:geo


[search_params]
max_tweets = 500

[output_params]
output_file_path = ./save_path/
save_file = True
results_per_file = 10000000
